* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

/* Prevent transition on first load  */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  @mixin animationMedium;
  color: $mainOrange;
}