/* Screen sizes */
@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 800px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1010px) {
    @mixin-content;
  }
}

/* Clearfix */
/* used for column layout  */
@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* Animations */
@define-mixin animationSlow {
  transition: all 1s ease-out;
}

@define-mixin animationMedium {
  transition: all .3s ease-out;
}

@define-mixin animationMediumFast {
  transition: all .2s ease-out;
}

@define-mixin animationFast {
  transition: all .1s ease-out;
}